body{
    background-color: #252525;
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

header{
    grid-area: header;
    display: grid;
    grid-template-areas: 
    "l1"
    "l2";
}

#l1{
    background-color: yellow;
    grid-area: l1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.main-h1{
    margin: 8px;
}

#l2{
    height: 50px;
    background-color: darkorchid;
    grid-area: l2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav{
    background-color: aqua;
    width: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4px;
    position: absolute;
    top: 100px;
    right: 0;
}

.l2-span{
    background-color: orange;
    height: 44px;
    width: 44px;
}

#nav_button{
    background-color: #606060;
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.l2-img{
    width: 44px;
    height: 44px;
    object-fit: contain;
}

.ul-no-style{
    list-style-type: none;
}

.nav-element{
    background-color: #252525;
    width: 100%;
    height: 30px;
    margin: 4px;
}

main{
    grid-area: main;
    background-color: #aaaaaa;
}

main section{
    background-color: chartreuse;
    padding: 4px;
}

.m-0{
    margin: 0;
}

.p-0{
    padding: 0;
}

.hidden{
    display: none
}

main section h2{
    color: white;
}

footer{
    background-color: yellow;
    grid-area: footer;
    padding: 8px;
}