body{
    background-color: #1515ab;
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

header{
    grid-area: header;
    display: grid;
    grid-template-areas: 
    "l1"
    "l2";
}

#l1{
    background-color: #40408a;
    grid-area: l1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.main-h1{margin: 8px;}

#l2{
    height: 50px;
    background-color: #050540;
    grid-area: l2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav{
    background-color: aqua;
    width: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4px;
    position: absolute;
    top: 100px;
    right: 0;
}

.span{
    background-color: orange;
    height: 44px;
    width: 44px;
}

.img-container{
    background-color: #606060;
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    width: 44px;
    height: 44px;
    object-fit: contain;
}

.ul-no-style{list-style-type: none;}

.nav-element{
    background-color: #252525;
    width: 100%;
    height: 30px;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.beautiful-a{
    text-decoration: none;
    color: #efefef;
}

main{grid-area: main;}

main section{
    background-color: chartreuse;
    padding: 4px;
    min-height: 400px;
}

.m-0{margin: 0;}

.p-0{padding: 0;}

.t-white{
    color: #efefef;
}

.hidden{display: none}

main section h2{color: #efefef;}

footer{
    background-color: #171171;
    grid-area: footer;
    padding: 8px;
}

.p-footer{
    font-size: 0.9rem;
}

#up-btn{
    position: absolute;
    bottom: 150px;
    right: 25px;
}